<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 定义了WEB应用的名字 -->
	<display-name>PGY测试框架</display-name>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 声明WEB应用的描述信息 -->
	<description>为了不断完善技术</description>

	<!-- http session：控制一个用户名是否能重复登录，以及重复登录次数，并非重试密码次数。 -->
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<!-- 如果某个会话在一定时间内未被访问，服务器可以抛弃它以节省内存。
          可通过使用HttpSession的setMaxInactiveInterval方法明确设置单个会话对象的超时值，
          或者可利用session-config元素制定缺省超时值。
	  -->
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

	<!-- 配置上下文 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:spring-bean-config/applicationContext-framework.xml
			classpath*:spring-bean-config/applicationContext-security.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>webmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath*:spring-mvc-config/webmvc-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>webmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>webmvc</servlet-name>
		<url-pattern>/spring-mvc-config/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>webmvc</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>

	<!-- 指示服务器在收到引用一个目录名而不是文件名的URL时，使用哪个文件。  -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
